#Title {font-family: cursive; color: rgb(240, 157, 34); font-size: 100pt; width: auto; text-align: center;}
#holder{
    background-image: url(image2.lnk); height:fit-content;  background-size: cover; 
    text-align: center; 
    padding: 8%;
    padding-right: 10%;
    background-repeat: no-repeat;
    width: auto;
}
.button{
    text-decoration: none; 
 
    color: rgb(255, 255, 255); font-style: italic; 
    font-size: 25pt;
    background-size: 100%;
}
#pages ul{
         list-style-type: none;
        word-spacing: 20pt;
        margin-left: 50em;
        font-size: 10pt;
        color: rgb(255, 255, 255);
      }
body{
    background-color: black;
    color: white;
}
#title2{ text-align: center; 
    padding: 8%;
    font-size: 45pt;
    padding-right: 10%;
font-family: inherit;}
#paragraph{
  font-size: 28pt;
  padding-right: 5pt;
  text-align: center;
  font-size: 30pt;
}
#paragraph2{
    font-size: 28pt;
    padding-left:50px;
}
#paragraph3{
    font-size: 30pt;
}
#paragraph4{ 
    font-size: 30pt;}

li{
    display: inline;
}
a{
    size: 20%;
    float: inline-end;
}
.button:hover{color: rgb(81, 160, 190);}

.btn{size: 20px;
    text-align: center;
    border: 5px solid #fff
    padding-right: 50px;
    text-decoration: none;
}
img {
    display: inline-block;
    margin: 35px 20px;
    border-style:groove;
  }
form{
     width: 700px;
     fill: aquamarine;
     padding-left: 500px;
     font-size: 30px;
     border:0;}
input{
    font-size: 18px;
    background-color: #ffe4c4;
    border-style: inherit;
    font-family:initial;
}

.button1{
    font-variant: normal;
    font-size: 30px;
    border-bottom-color: aquamarine
    rgb(253, 254, 255);
    padding-left: 20px;
}
.button2{
 
    color: rgb(10, 48, 153); font-style: italic; 
    font-size: 25pt;
    background-size: 100%;
    padding-left: 400px;
}
.button2:hover{
    color: lightcoral;
}
